/*color palette
#6F6FD8 - main - purple
#98CE00 - 2nd - yellow green
#89A6FB - 3rd - little boy blue
#78C3FB - 4th - maya blue
#16E0BD - 5th - turqouise*/

/* ----------- Modal for Project Page ------------ */
/* The Modal (background) */

.ContainerForProjectPage {
	display: flex;
	justify-content: left;
	flex-direction: column;
	/*align-items: center;	*/
	/*height: 100vh;	*/
}

		.ContainerForProjectPageHeader {
			width: 97%;
			display: flex;
			justify-content: space-between;
			/*background-color: red;*/
		}

				.ContainerForProjectPageHeader-a {
					width: 49%;
					/*background-color: blue;*/
				}
						.containerForProjectPageHeader-aa {
							width: 100%;
							/*background-color: deeppink;*/
						}

						.containerForProjectPageHeader-ab {
							width: 100%;

							display: flex;
							flex-direction: row;
							justify-content: space-between;
							/*background-color: deepskyblue;*/
						}

								.containerForProjectPageHeader-aba {
									width: 49%;

									display: flex;
									flex-direction: row;
									justify-content: space-evenly;
									align-items: center;
									/*background-color: green;*/
								}

										.buttonForProjectPageA {
											background: #89A6FB;
											color: #fff;
											border: 0;
											padding: 10px;
											border-radius: 15px;
											width:  200px;
											cursor: pointer;
										}

										.buttonForProjectPageF {
											background: #89A6FB;
											color: #fff;
											border: 0;
											padding: 10px;
											border-radius: 10px;
											width:  40px;
											cursor: pointer;
										}

								.containerForProjectPageHeader-abb {
									width: 49%;

									display: flex;
									flex-direction: row;
									justify-content: space-around;
									align-items: center;
									/*background-color: green;*/
								}

										.containerForProjectPageHeader-abba {
											border: 1px solid #89A6FB;
											border-radius: 13px;
										}

												.buttonForProjectPageG-atoz {
													background: none;
													color: #000;
													border: 0;
													padding: auto;
													border-radius: 10px;
													width:  50px;
													height:  30px;
													cursor: pointer;
												}

												.buttonForProjectPageH-atoz {
													background: #89A6FB;
													color: #fff;
													border: 0;
													padding: auto;
													border-radius: 10px;
													width:  50px;
													height:  30px;
													cursor: pointer;
												}			

				.ContainerForProjectPageHeader-b {
					width: 49%;
					display: flex;
					justify-content: space-evenly;
					/*background-color: orange;*/
				}

						.buttonForProjectPageI {
							background: #fff;
							color: #000;
							/*border: 0;*/
							/*padding: 8px;*/
							padding: auto;
							border: 1px solid #000;
							border-radius: 10px;
							width:  90px;
							height:  30px;
							cursor: pointer;
							margin: 1px 0 1px 0;
						}

						.buttonForProjectPageJ {
							background: #89A6FB;
							color: #fff;
							border: 0;
							padding: auto;
							border-radius: 10px;
							width:  90px;
							height:  30px;
							cursor: pointer;
							margin: 1px 0 1px 0;
						}


						.ContainerForProjectPageHeader-b-a {
							width: 40%;
							padding: 30px 0 0 0;
							/*background-color: green;*/
						}

								.buttonForProjectPageB {
									background: #89A6FB;
									color: #fff;
									border: 0;
									/*padding: 8px;*/
									padding: auto;
									border-radius: 10px;
									width:  150px;
									height:  35px;
									cursor: pointer;
									margin: 1px 0 1px 0;
								}

								.buttonForProjectPageC {
									background: #98CE00;
									color: #fff;
									border: 0;
									/*padding: 8px;*/
									padding: auto;
									border-radius: 10px;
									width:  50px;
									height:  30px;
									cursor: pointer;
									margin: 1px 0 1px 0;
								}

								.buttonForProjectPageD {
									background: red;
									color: #fff;
									border: 0;
									/*padding: 8px;*/
									padding: auto;
									border-radius: 10px;
									width:  50px;
									height:  30px;
									cursor: pointer;
									margin: 1px 0 1px 0;
								}

								.buttonForProjectPageE {
									background: #fff;
									color: #000;
									border: 0;
									/*padding: 8px;*/
									padding: auto;
									border: 1px solid #000;
									border-radius: 10px;
									width:  50px;
									height:  30px;
									cursor: pointer;
									margin: 1px 0 1px 0;
								}








.containerItemsProjectCard {
	display: flex;
	flex-direction: row;
	width: 97%;
	height: 120px;
	justify-content: space-evenly;
	border: 1px solid #6F6FD8;
	padding: 10px 0 10px 0;
	margin: 5px 10px 0 5px;
	border-radius: 15px;
	/*background-color: red;*/
}

.perItemProjectCard-1 {
	width: 20%;
	padding: 0 10px 0 20px;
	/*background-color: blue;*/
}

.perItemProjectCard-2 {
	width: 50%;
	display: flex;
	justify-content: space-around;
	/*background-color: green;*/
}

.perItemProjectCard-2-1 {
	width:  27%;
	padding: 15px 10px 0 10px;
	/*background-color: green;*/
}

.perItemProjectCard-2-2 {
	width: 27%;
	padding: 15px 10px 0 10px;
	/*background-color: green;*/
}

.perItemProjectCard-3 {
	padding: 5px 0 0 0;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*background-color: violet;*/
}

.heighttext{
  height:50px
}










.containerForUpdateProjectModal {
	padding: auto;
	margin: 10px 0;
	
}

.formHolderForUpdateProjectModal {
	display: flex;
	width: 80%;
	margin: auto;
}

.updateProjectItems-1 {
	order: 1;
	flex-grow: 1;
	/*background-color: red;*/
}
.updateProjectItems-2 {
	order: 2;
	flex-grow: 1;
	/*background-color: blue;*/
}
.updateProjectItems-3 {
	order: 3;
	flex-grow: 1;
	/*background-color: green;*/
}

.buttonForUpdateProjectModal {
	background: #89A6FB;
	color: #fff;
	border: 0;
	padding: 10px;
	border-radius: 15px;
	width:  200px;
	cursor: pointer;
}



/* ----------- end Modal for Project Page ------------ */










/* ----------- Modal for Add Project B  ------------ */

.containerAddProjectBModal {
  width: 30%;
  height: 29%;
  position: fixed;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 30px;
  zIndex: 1000;
}
    /*ModalAddConversation.js*/
.overlayBgAddProjectBModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  zIndex: 1000;
}

		.subContAddProjectBModal-header {
			padding-left: 10px;
			display: flex;
			flex-direction: column;
		}

				.subContAddProjectBModal-header-text01 {
		      font-family: 'Rowdies', cursive;
		      font-size: 30px;
		      color: #6F6FD8;
		      margin: 0 0 0 10px;
				}

		.subContAddProjectBModal-body {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid rgba(0, 0, 0, 0.3);

			display: flex;
			flex-direction: column;
			justify-content: space-around;

			/*background-color: crimson;*/
		}

        .subContAddProjectBModal-body-text01 {
          /*font-family: 'Kodchasan', sans-serif;*/
          font-size: 15px;
          color: #6F6FD8;
          /*margin: 0 0 0 10px;*/
        }

		    .subContAddProjectBModal-body-textbox {
		      width: 60%;
		      height: 30px;
		      margin: 0 0 0 10px;
		    }

		    .subContAddProjectBModal-body-datePicker {
		      width: 60%;
		      height: 30px;
		      margin: 0 0 0 10px;
		    }

		    .addProjectBModal-btn-addProject {
		      width: 40%;
		      height: 30px;

		      color:  white;
		      border: none;
		      border-radius: 50px;
		      background-color: #6F6FD8;
		    }

		    .addProjectBModal-btn-addProject:hover {
		      color: #6F6FD8;
		      border: 2px solid #6F6FD8;
		      border-radius: 50px;
		      background-color: white;
		    }

		.subContAddProjectBModal-footer {
			margin-top: 10px;
			padding-top: 20px;
			border-top: 1px solid rgba(0, 0, 0, 0.3);

			display: flex;
			flex-direction: row;
			justify-content: right;
		}

		    .addProjectBModal-btn-close {
		      width: 20%;
		      height: 30px;

		      color:  white;
		      border: none;
		      border-radius: 50px;
		      background-color: #6F6FD8;
		    }

		    .addProjectBModal-btn-close:hover {
		      color: #6F6FD8;
		      border: 2px solid #6F6FD8;
		      border-radius: 50px;
		      background-color: white;
		    }


/* ----------- end Modal for Add Project B  ------------ */



/* ----------- Table of list of Tasks  ------------ */

.containerTasksListInProjectPage {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background: crimson;*/
}

		.tableTaskListProjectPage-btn {
			background: #89A6FB;
			color: #fff;
			border: 0;
			/*padding: 8px;*/
			/*padding: auto;*/
			border-radius: 10px;
			width:  300px;
			height:  17px;
			cursor: pointer;
			font-size: 12px;
			/*margin: 1px 0 1px 0;*/
		}
		
		.tableTaskListProjectPage {
		  font-family: Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 70%;
		}

				.tableTaskListProjectPage td, .tableTaskListProjectPage th {
				  border: 1px solid #ddd;
				  padding: 8px;
				}

				.tableTaskListProjectPage tr:nth-child(even){background-color: #f2f2f2;}

				.tableTaskListProjectPage tr:hover {background-color: #ddd;}

				.tableTaskListProjectPage th {
				  padding-top: 12px;
				  padding-bottom: 12px;
				  text-align: left;
				  background-color: #89A6FB;
				  color: white;
				}

						.actionBtn {
							background: #89A6FB;
							color: #fff;
							border: 0;
							/*padding: 8px;*/
							/*padding: auto;*/
							border-radius: 10px;
							width:  70px;
							height:  25px;
							cursor: pointer;
							font-size: 12px;
							/*margin: 1px 0 1px 0;*/
						}


/* ----------- end Table of list of Tasks  ------------ */




/* ----------- Modal for Add Project  ------------ */

.containerUpdateTaskForPPModal {
  width: 30%;
  height: 28%;
  position: fixed;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 30px;
  zIndex: 1000;
}
    /*ModalAddConversation.js*/
.overlayBgUpdateTaskForPPModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  zIndex: 1000;
}




		.subContUpdateTaskForPPModal-header {
			padding-left: 10px;
			display: flex;
			flex-direction: column;
		}

				.subContUpdateTaskForPPModal-header-text01 {
		      font-family: 'Rowdies', cursive;
		      font-size: 30px;
		      color: #6F6FD8;
		      margin: 0 0 0 10px;
				}

		.subContUpdateTaskForPPModal-body {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid rgba(0, 0, 0, 0.3);

			display: flex;
			flex-direction: row;
			justify-content: space-around;

			/*background-color: crimson;*/
		}
				.subContUpdateTaskForPPModal-body-a {
					width: 60%;
				}

				.subContUpdateTaskForPPModal-body-b {
					width: 20%;
				}

        .subContUpdateTaskForPPModal-body-text01 {
          /*font-family: 'Kodchasan', sans-serif;*/
          font-size: 15px;
          color: #6F6FD8;
          /*margin: 0 0 0 10px;*/
        }

		    .subContUpdateTaskForPPModal-body-textbox {
		      width: 95%;
		      height: 30px;
		      margin: 0 0 0 10px;
		    }

				.subContUpdateTaskForPPModal-statusBtns {
					padding-left: 20px;
					display: flex;
					flex-direction: column;
				}

		    .updateTaskForPPModal-btn {
		      width: 20%;
		      height: 30px;

		      color:  white;
		      border: none;
		      border-radius: 50px;
		      background-color: #6F6FD8;
		    }

		    .updateTaskForPPModal-btn:hover {
		      color: #6F6FD8;
		      border: 2px solid #6F6FD8;
		      border-radius: 50px;
		      background-color: white;
		    }

		.subContUpdateTaskForPPModal-footer {
			margin-top: 10px;
			padding-top: 20px;
			border-top: 1px solid rgba(0, 0, 0, 0.3);

			display: flex;
			flex-direction: row;
			justify-content: right;
		}

		    .updateTaskForPPModal-btn-updateTask {
		      width: 80%;
		      height: 30px;
		      margin-top: 10px;

		      color:  white;
		      border: none;
		      border-radius: 50px;
		      background-color: #6F6FD8;
		    }

		    .updateTaskForPPModal-btn-updateTask:hover {
		      color: #6F6FD8;
		      border: 2px solid #6F6FD8;
		      border-radius: 50px;
		      background-color: white;
		    }


/* ----------- end Modal for Add Project  ------------ */